@charset "UTF-8";
body
{
	font-size: 14px;
	margin: 0 auto;
}

.img_info_left
{
	display:inline-block;
	width:100%;
	background-color: #e4e4e4;
}
footer a:link
{
	color: white;
}
footer a:visited
{
	color: white;
}
.info_left
{
	font-size: 175%;
	margin: 2%;
	/* background-color: #d3d7cf; */
}

.info_bottom
{
	font-size: 175%;
	padding-left: 2%;
	/* background-color: #151515; */
	background-color: #e4e4e4;
	padding-bottom: 1%;
	margin-top: 0.5%;
}



#img_prod
{
	float: left;

	width: 500px;

	height: 500px;

	margin: 2%;
}

.textCommento
{
	width: 50%;
    height: 200px;
    vertical-align: top;
    font-size: 20px;
    resize: none;
    border: none;
    font-family: verdana, sans-serif;
}

.info_prod_prec
{
	color:#d32633;
	/* padding: 8px; */
	margin-top: 7px;
	/* border-bottom: 1px solid #888a85; */	
}

.info_prod
{
	color:#151515;
	padding: 8px;
  	margin-top: 7px;
  	/* border-bottom: 1px solid #888a85; */	
}

.img_responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1010px) 
{
	.info_left
	{
		float: left;
	}
	
	
	.info_left
	{
		font-size: 150%;
	}

	.info_bottom
	{
	font-size: 150%;
	}
	
	
	#img_prod
	{
	width: 50%;
	height: auto;
	padding-left: 25%;
	}
	
	
		
	
	
}

/* @media screen and (max-width: 535px) */
@media screen and (max-width: 600px)
{
	
	#img_prod
	{
		/* width: 100%;
		height: auto; */
		
		
		/* height: auto;
		width: 80%;
		height: auto;
		padding-left: 9%; */
		
		 		
		width: 70%;
		height: auto;
		padding-left: 14%; 
		
		
		
	}
	
		.info_left
	{
		float: left;
	}
	
	
	.info_left
	{
		font-size: 125%;
	}

	.info_bottom
	{
	font-size: 125%;
	}
  

  
  
	
}

